<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de inicio</title>
    <link rel="stylesheet" href="css/0.0_InicioEdublocks.css">
</head>

<body>
    <nav>
        <div class="navIzq">
            <img src="media/logo.png" alt="">
            <h3>Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4>300</h4>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" href="#">Administrador</a>
            <a class="btnNavAdmin" href="#">Ayuda</a>
        </div>
    </nav>
    <section class="design-section">
        <div class="timeline">
            <a href="#" class="btnLeccion">
                <div class="timeline-component timeline-content">
                    <img src="media/iconoVisual.png" class="iconoInicio" alt="">
                    <h3>Ambiente de desarrollo</h3>
                </div>
            </a>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>
            <div class="timeline-empty">
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <a href="#" class="btnLeccion">
                <div class="timeline-component timeline-content">
                    <img src="media/iconoVariables.png" class="iconoInicio" alt="">
                    <h3>Variables y tipos de datos</h3>
                </div>
            </a>
            <a href="#" class="btnLeccion">
                <div class="timeline-component timeline-content">
                    <img src="media/iconoControl.png" alt="">
                    <h3>Estructuras de control</h3>
                </div>
            </a>


            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <a href="#" class="btnLeccion">
                <div class=" timeline-component timeline-content">
                    <img src="media/iconoMetodos.png" alt="">
                    <h3>Metodos simples</h3>
                </div>
            </a>



        </div>
        </div>
    </section>
</body>

</html>