<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de inicio</title>
    <link rel="stylesheet" href="css/0.0_InicioEdublocks.css">
    <script src="js/0.0_InicioEdublocks.js" defer></script>
</head>

<body>
    <nav>
        <div class="navIzq">
            <img src="media/logo.png" alt="">
            <h3 id="NombreUser">Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4 id="cantMonedas">300</h4>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" id="btnAdmin"
                href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
            <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
            <a class="btnNavAdmin" id="btnCerrarSesion" href="#" onclick="cerrarSesion()">Cerrar sesión</a>
        </div>
    </nav>
    <section class="design-section">
        <div class="timeline">
            <a href="http://127.0.0.1:5500/src/main/resources/templates/1.0_AmbienteDeJava.html" class="btnLeccion">
                <div class="timeline-component timeline-content" id="leccion1">
                    <img src="media/iconoVisual.png" class="iconoInicio" alt="">
                    <h3>Ambiente de desarrollo</h3>
                </div>
            </a>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/2.0_Variables.html" class="btnLeccion">
                <div class="timeline-component timeline-content" id="leccion2">
                    <img src="media/iconoVariables.png" class="iconoInicio" alt="">
                    <h3>Variables y tipos de datos</h3>
                </div>
            </a>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/3.0_EstructurasControl.html" class="btnLeccion">
                <div class="timeline-component timeline-content" id="leccion3">
                    <img src="media/iconoControl.png" alt="">
                    <h3>Estructuras de control</h3>
                </div>
            </a>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <a href="http://127.0.0.1:5500/src/main/resources/templates/4.0_MetodosSimples.html" class="btnLeccion">
                <div class="timeline-component timeline-content" id="leccion4">
                    <img src="media/iconoMetodos.png" alt="">
                    <h3>Métodos simples</h3>
                </div>
            </a>
        </div>
    </section>
</body>

</html>