<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/0.1_Login.css" />
  <script src="js/0.1_Login.js"></script>
  <title>Login</title>
</head>

<body>
  <div class="contenedorLogin">
    <img src="media/logo.png" alt="" id="logo">
    <form onsubmit="event.preventDefault(); iniciarSesion();" method="POST" class="formularioInicioSesion">
      <input type="email" name="correo" placeholder="Correo electrónico" class="cuadroTexto" id="correo" required>
      <input type="password" name="contrasena" placeholder="Contraseña" class="cuadroTexto" id="contrasena" required>

      <a href="#" class="bn89">
        <input type="submit" value=" Iniciar sesión " class="btnIniciar">
      </a>
    </form>
    <a class="regbtn" href="Registro.html">
      <span>Registrarse</span>
    </a>
  </div>

  <div id="mensajeErrorBarra" class="mensaje-error-barra">
    <span id="cerrarMensaje" class="cerrar-mensaje" onclick="cerrarMensajeError()">X</span>
    <div id="mensajeError"></div>
  </div>

  </div>
</body>

</html>