<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambiente de Desarrollo Java</title>
    <link rel="stylesheet" href="css/2.0_Variables.css">
    <script src="js/1.0_AmbienteDeJava.js"></script>
    <script src="js/main.js" defer></script>
</head>

<body>
    <nav>
        <div class="navIzq">
            <a href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html"><img
                    src="media/logo.png" alt=""></a>
            <h3 id="NombreUser">Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4 id="cantMonedas">300</h4>
            <a class="btnNavAdmin" id="btnInicioNav"
                href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html">Inicio</a>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" id="btnAdmin"
                href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
            <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Ambiente de Desarrollo Java</h1>
            <p>El ambiente de desarrollo Java se refiere a los componentes y herramientas necesarios para escribir,
                compilar, depurar, y ejecutar aplicaciones Java. </h2>
            <p>JAVA_HOME y PATH son variables de entorno que se utilizan para configurar y gestionar el entorno de
                desarrollo Java en un sistema operativo. Aquí hay una descripción detallada de cada una y su
                importancia:</p>
            <h2>Instalar Java y configurar variables de entorno JAVA HOME y PATH</h2>
            <p>PASO 1: CONFIGURAR LA VARIABLE JAVA_HOME

                JAVA_HOME, es una variable de entorno del sistema que informa al sistema operativo sobre la ruta donde se encuentra instalado Java. Seguiremos la siguiente secuencia de pasos para configurar esta variable:
                
                Abrimos el explorador de Windows o pulsamos sobre “Mi Pc”. Pulsamos sobre Equipo y con botón derecho del ratón o buscando el icono -> Propiedades -> Configuración avanzada / Cambiar configuración -> Opciones avanzadas -> Variables de entorno -> Nueva (Variables del sistema).
                
                En otras versiones tenemos que llegar a Configuración avanzada del sistema /  Variables de entorno... -> Nueva (Variables del sistema).</p>
            </pre>
            <div class="image-container">
                <img src="media/entorno1.png" alt="Descripción de la imagen">
            </div>
            <p>Nombre de variable: JAVA_HOME
                Valor de variable: escribiremos aquí la ruta en que se haya instalado Java. Puedes consultarla en el propio explorador de Windows buscando la carpeta en que se ha instalado Java, que normalmente será del tipo C:\Program Files\Java\jdk1.8.0_72 ó C:\Program Files (x86)\Java\jdk1.8.0_72 o similar. Fíjate en la barra superior donde aparece la ruta y cópiala tal y como aparece ahí.</p>
                <div class="image-container">
                    <img src="media/entorno2.png" alt="Descripción de la imagen">
                </div>
                <div class="image-container">
                    <img src="media/entorno.3.png" alt="Descripción de la imagen">
                </div>
                <p>PASO 2: CONFIGURAR LA VARIABLE PATH

                    PATH es una variable de entorno del sistema que informa al sistema operativo sobre la ruta de distintos directorios esenciales para el funcionamiento del ordenador. Vamos a añadir al contenido de la variable PATH el lugar donde se encuentran los ficheros ejecutables de Java necesarios para su ejecución, como el compilador (javac.exe) y el intérprete (java.exe). Seguiremos la siguiente secuencia de pasos para configurar esta variable.
                    
                    Abrimos el explorador de Windows o pulsamos sobre “Mi Pc”. Pulsamos sobre Equipo -> Propiedades y con botón derecho del ratón o buscando el icono -> Configuración avanzada / Cambiar configuración -> Opciones avanzadas -> Variables de entorno -> buscamos en Variables del sistema la variable Path, pulsamos para seleccionarla y hacemos click en el botón Editar. Luego al final del contenido que ya exista, añadiremos un punto y coma y el texto %JAVA_HOME%\bin. No deben quedar espacios intermedios.
                    
                    En otras versiones tenemos que llegar a Configuración avanzada del sistema /  Variables de entorno... -> buscamos en Variables del sistema la variable Path, pulsamos para seleccionarla y hacemos click en el botón Editar.</p>
                    <div class="image-container">
                        <img src="media/entorno4.png" alt="Descripción de la imagen">
                    </div>
                    <div class="video-container">
                <h4 class="Jugar">Siguiente</h4>
                <button class="next-btn" onclick="navigateToNextPage()">&#9654;</button>
            </div>

        </div>
    </div>
</body>

</html>