<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambiente de Desarrollo Java</title>
    <link rel="stylesheet" href="css/2.0_Variables.css">
</head>

<body>
    <nav>
        <div class="navIzq">
            <img src="media/logo.png" alt="">
            <h3>Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4>300</h4>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" href="#">Administrador</a>
            <a class="btnNavAdmin" href="#">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Ambiente de Desarrollo Java</h1>
            <p>El ambiente de desarrollo Java se refiere a los componentes y herramientas necesarios para escribir, compilar, depurar, y ejecutar aplicaciones Java. </h2>
            <p>JAVA_HOME y PATH son variables de entorno que se utilizan para configurar y gestionar el entorno de desarrollo Java en un sistema operativo. Aquí hay una descripción detallada de cada una y su importancia:</p>
            <li><strong>JAVA_HOME:</strong> es una variable de entorno que apunta al directorio donde está instalado el Java Development Kit (JDK). Esta variable es esencial para muchas herramientas y aplicaciones Java, ya que les indica dónde encontrar las bibliotecas y ejecutables de Java.</li>
            <li><strong>PATH:</strong> Es una variable de entorno que contiene una lista de directorios que el sistema operativo busca para encontrar ejecutables. Al añadir el directorio bin del JDK al PATH, puedes ejecutar comandos de Java (como java y javac) desde cualquier lugar del sistema sin tener que especificar su ruta completa.</li>
            <h2>Instalar Java y configurar variables de entorno JAVA HOME y PATH</h2>
            </pre>
            <div class="video-container">
                <h2>Video Explicativo</h2>
                <iframe src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
                <h4 class="Jugar">Siguiente</h4>
                <button class="next-btn" onclick="navigateToNextPage()">&#9654;</button>
            </div>

        </div>
    </div>
    <script>
        function navigateToNextPage() {
            const container = document.querySelector('.container');
            container.style.transition = 'transform 0.5s ease-in-out';
            container.style.transform = 'translateX(-100vw)';

            setTimeout(() => {
                window.location.href = 'http://127.0.0.1:5500/src/main/resources/templates/1.1_IntroducciónAlIde.html'; // Cambia 'nextpage.html' a la URL de la siguiente página
            }, 500);
        }

    </script>
</body>

</html>