<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción al IDE</title>
    <link rel="stylesheet" href="css/2.0_Variables.css">
    <script src="js/1.1_IntroducciónAlIde.js"></script>
</head>

<body>
    <nav>
        <div class="navIzq">
            <a href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html"><img
                    src="media/logo.png" alt=""></a>
            <h3 id="NombreUser">Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4 id="cantMonedas">300</h4>
            <a class="btnNavAdmin" id="btnInicioNav"
                href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html">Inicio</a>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" id="btnAdmin"
                href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
            <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Introducción al IDE</h1>
            <p>Un IDE (Integrated Development Environment) es un entorno de desarrollo integrado que proporciona un
                conjunto completo de herramientas para facilitar el desarrollo de software. Un IDE combina varias
                herramientas de desarrollo en una única aplicación, proporcionando una interfaz cohesiva para escribir,
                depurar, compilar, y gestionar proyectos de software. </h2>
            <p>Hay una cantidad variadas de Ides pero en nuestro caso usaremos Visual Studio Code</p>
            <h2>Instalar y configurar IDE</h2>
            </pre>
            <div class="video-container">
                <h2>Video Explicativo</h2>
                <iframe src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
                <h4 class="Jugar">Siguiente</h4>
                <button class="next-btn" onclick="navigateToNextPage()">&#9654;</button>
            </div>

        </div>
    </div>

</body>

</html>