<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables en Java</title>
    <link rel="stylesheet" href="css/2.0_Variables.css">

</head>

<body>
    <nav>
        <div class="navIzq">
            <a href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html"><img
                    src="media/logo.png" alt=""></a>
            <h3 id="NombreUser">Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4 id="cantMonedas">300</h4>
            <a class="btnNavAdmin" id="btnInicioNav"
                href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html">Inicio</a>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" id="btnAdmin"
                href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
            <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <h1>Variables en Java</h1>
            <p>En Java, una variable es un contenedor que almacena valores durante la ejecución de un programa. Cada
                variable tiene un tipo de datos específico que determina qué tipo de valor puede almacenar.</p>
            <h2>Tipos de Datos en Java</h2>
            <ul>
                <li><strong>int:</strong> Enteros</li>
                <li><strong>float:</strong> Números de punto flotante de precisión simple</li>
                <li><strong>double:</strong> Números de punto flotante de doble precisión</li>
                <li><strong>char:</strong> Carácter único</li>
                <li><strong>boolean:</strong> Valor verdadero o falso</li>
                <li><strong>String:</strong> Cadena de caracteres</li>
            </ul>
            <h2>Declaración e Inicialización de Variables</h2>
            <p>En Java, se declara una variable especificando su tipo de datos seguido del nombre de la variable. La
                inicialización se realiza asignando un valor a la variable.</p>
            <pre>
                int edad = 25;
                float temperatura = 36.6f;
                double salario = 75500.75;
                char inicial = 'J';
                boolean esEstudiante = true;
            </pre>
            <div class="image-container">
                <img src="media/variable.jpg" alt="Descripción de la imagen">
            </div>
            <div class="video-container">
                <h4 class="Jugar">Jugar</h4>
                <button class="next-btn" onclick="navigateToNextPage()">&#9654;</button>
            </div>

        </div>
    </div>
    <script>
        sessionStorage.setItem("NuevaLeccionMasAlta", 2);
    </script>
    <script src="js/2.0_Variables.js">
    </script>
    <script src="js/main.js" defer></script>
</body>

</html>