<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables en Java</title>
    <link rel="stylesheet" href="css/2.2_SeleccionVariables.css">
</head>

<body>
    <nav>
        <div class="navIzq">
            <img src="media/logo.png" alt="">
            <h3>Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4>300</h4>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" href="#">Administrador</a>
            <a class="btnNavAdmin" href="#">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <div class="content-and-image">
            <div class="content">
                <h2>Selecciona la opción correcta que inicializa la variable adecuadamente.</h2>
                <div class="quiz">
                    <div class="question" id="question1">
                        <p>Usado para almacenar el nombre de una persona, que es "Ana".</p>
                        <div class="answer-options">
                            <button class="option">a) char nombre = "Ana";</button>
                            <button class="option">b) String nombre = 'Ana';</button>
                            <button class="option">c) String nombre = "Ana";</button>
                            <button class="option">d) int nombre = "Ana";</button>
                        </div>
                    </div>
                    <div class="question" id="question2">
                        <p>Usado para almacenar si una persona es estudiante o no, que es verdadero.</p>
                        <div class="answer-options">
                            <button class="option">a) boolean esEstudiante = "true";</button>
                            <button class="option">b) boolean esEstudiante = true</button>
                            <button class="option">c) int esEstudiante = 1;</button>
                            <button class="option">d) boolean esEstudiante = 1;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="media/correcto.png" alt="Imagen" class="placeholder-image" id="correct-image">
            </div>
        </div>
        <button class="next-btn" onclick="navigateToNextPage()">&#9654;</button>
    </div>
    <script src="js/2.2_SeleccionVariables.js"></script>
</body>

</html>