<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/5.0_Admin.css">
  <title>Sistema de Administrador</title>
</head>

<body>
  <!-- Barra de navegación -->
  <nav>
    <div class="navIzq">
      <a href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html"><img src="media/logo.png"
          alt=""></a>
      <h3 id="NombreUser">Nombre usuario</h3>
      <img src="media/moneditas.png" alt="" id="moneda">
      <h4 id="cantMonedas">300</h4>
      <a class="btnNavAdmin" id="btnInicioNav"
        href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html">Inicio</a>
    </div>
    <div class="navDer">
      <a class="btnNavAdmin" id="btnAdmin"
        href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
      <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
    </div>
  </nav>

  <div class="container">
    <div class="cards-background">
      <div class="card">
        <div class="card-info">
          <p class="nombre">Astroberto</p>
          <p class="leccion">Lección actual: 3.1</p>
        </div>
        <button class="btnEliminar"><img src="media/delete.png" alt="Eliminar Icono"
            class="iconoEliminar"><span>Eliminar</span></button>
      </div>
      <div class="card">
        <div class="card-info">
          <p class="nombre">Astroberto</p>
          <p class="leccion">Lección actual: 3.1</p>
        </div>
        <button class="btnEliminar"><img src="media/delete.png" alt="Eliminar Icono"
            class="iconoEliminar"><span>Eliminar</span></button>
      </div>
      <div class="card">
        <div class="card-info">
          <p class="nombre">Astroberto</p>
          <p class="leccion">Lección actual: 3.1</p>
        </div>
        <button class="btnEliminar"><img src="media/delete.png" alt="Eliminar Icono"
            class="iconoEliminar"><span>Eliminar</span></button>
      </div>
      <div class="card">
        <div class="card-info">
          <p class="nombre">Astroberto</p>
          <p class="leccion">Lección actual: 3.1</p>
        </div>
        <button class="btnEliminar"><img src="media/delete.png" alt="Eliminar Icono"
            class="iconoEliminar"><span>Eliminar</span></button>
      </div>
    </div>

    <div class="estadisticas">
      <button>Estadísticas de uso</button>
    </div>
  </div>
</body>

</html>