<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección de Ayuda</title>
    <link rel="stylesheet" href="css/6.0_Ayuda.css">
</head>

<body>
    <nav>
        <div class="navIzq">
            <a href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html"><img
                    src="media/logo.png" alt=""></a>
            <h3 id="NombreUser">Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4 id="cantMonedas">300</h4>
            <a class="btnNavAdmin" id="btnInicioNav"
                href="http://127.0.0.1:5500/src/main/resources/templates/0.0_InicioEdublocks.html">Inicio</a>
        </div>
        <div class="navDer">
            <a class="btnNavAdmin" id="btnAdmin"
                href="http://127.0.0.1:5500/src/main/resources/templates/5.0_Admin.html">Administrador</a>
            <a class="btnNavAdmin" href="http://127.0.0.1:5500/src/main/resources/templates/6.0_Ayuda.html">Ayuda</a>
        </div>
    </nav>
    <div class="container">
        <h2>Sección de Ayuda</h2>
        <div class="faq-container">
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(1)">
                    <i class="icon">i</i>
                    ¿Cómo empiezo a jugar?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-1">
                    Para comenzar a jugar, selecciona el nivel deseado desde el menú principal. El juego te
                    proporcionará una serie de desafíos basados en programación en Java, donde deberás demostrar lo
                    aprendido.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(2)">
                    <i class="icon">i</i>
                    ¿Qué debo hacer si no entiendo el video explicativo?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-2">
                    Si tienes dificultades para entender el video, puedes pausarlo y volver a verlo. Si aún tienes
                    dudas, consulta la sección de ayuda.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(3)">
                    <i class="icon">i</i>
                    ¿Cómo arrastro y coloco las líneas de código?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-3">
                    Para arrastrar una línea de código, mantén presionado el clic izquierdo del ratón sobre la línea
                    deseada y muévela a la ubicación indicada en el área de código. Suelta el botón del ratón para
                    colocar la línea en su lugar.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(4)">
                    <i class="icon">i</i>
                    ¿Qué hago si el código que arrastro no funciona como se espera?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-4">
                    Asegúrate de arrastrar el código a la ubicación correcta y en el orden adecuado. Verifica si has
                    seguido las instrucciones del desafío correctamente. Si el problema persiste, revisa el video
                    explicativo o consulta el tutorial para obtener más detalles.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(5)">
                    <i class="icon">i</i>
                    ¿Puedo volver a jugar niveles anteriores?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-5">
                    Sí, puedes volver a jugar niveles anteriores desde el menú de niveles. Esto te permitirá practicar y
                    mejorar tus habilidades en programación en Java.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" onclick="toggleFaq(6)">
                    <i class="icon">i</i>
                    ¿Qué hago si el juego no responde o se bloquea?
                    <span class="arrow">&#9660;</span>
                </div>
                <div class="faq-answer" id="faq-6">
                    Intenta reiniciar el juego o tu dispositivo. Si el problema persiste, verifica si hay
                    actualizaciones disponibles para el juego o contacta con el soporte técnico.
                </div>
            </div>
            <div class="contBtnDocumentacion">
                <a class="btnNavAdmin" onclick="navigateToNextPage()">Documentacion de
                    Java</a>
            </div>

        </div>
    </div>
    <script src="js/6.0_Ayuda.js"></script>
</body>

</html>