<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de inicio</title>
    <link rel="stylesheet" href="css/inicio.css">
</head>

<body>
    <nav>
        <div>
            <img src="media/logo.png" alt="">
            <h3>Nombre usuario</h3>
            <img src="media/moneditas.png" alt="" id="moneda">
            <h4>300</h4>
        </div>
        <div class="navDer">
            <button><a href="#">Administrador</a></button>
            <button><a href="#">Ayuda</a></button>
        </div>
    </nav>
    <section class="design-section">
        <div class="timeline">

            <div class="timeline-empty">
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
                <h3>HTML</h3>
                <p>Some Text</p>
            </div>
            <div class="timeline-component timeline-content">
                <h3>CSS</h3>
                <p>Some Text.</p>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>

            <div class="timeline-empty">
            </div>

            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <h3>Javascript</h3>
                <p>Some Text.</p>
            </div>

        </div>
        </div>
    </section>
</body>

</html>