<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lección Completada</title>
    <link rel="stylesheet" href="css/leccionC.css">
</head>
<body>
    <div class="container">
        <div class="message">¡Lección completada!</div>
        <div class="video-container">
            <img src="media/killer-bean-dance.gif" alt="Lección Completada" class="gifkillerbeans">
        </div>
    </div>
    <img src="media/si.png" alt="Cannon" class="confetti-cannon left-cannon">
    <img src="media/si.png" alt="Cannon" class="confetti-cannon right-cannon">
    <script src="js/leccionc.js"></script>
</body>
</html>
