<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/login.css" />
  <script src="js/login.js"></script>
  <title>Login</title>
</head>

<body>
  <div class="contenedorLogin">
    <div class="contIniciar">
      <img src="media/logo.png" alt="" id="logo">
      <form onsubmit="event.preventDefault(); iniciarSesion();" method="POST" class="formularioInicioSesion">
        <input type="email" name="correo" placeholder="Correo electrónico" class="cuadroTexto" id="correo" required>
        <input type="password" name="contrasena" placeholder="Contraseña" class="cuadroTexto" id="contrasena" required>

        <a href="#" class="bn89">
          <input type="submit" value="Iniciar sesión" class="btnIniciar" style="color: white;">
        </a>
      </form>
      <a href="#" class="bn89" id="Registrarsebtn">
        <input type="submit" value="Registrarse" class="btnIniciar" style="color: white;">
      </a>
    </div>
  </div>

  <div id="mensajeErrorBarra" class="mensaje-error-barra">
    <img src="media/noo.png" alt="error">
    <span id="cerrarMensaje" class="cerrar-mensaje" onclick="cerrarMensajeError()">X</span>
    <div id="mensajeError"></div>
  </div>

  </div>
</body>

</html>