@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --principal: #272a57;
  --fondo: #0d4b92a4;
}

body {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--principal);
  color: white;
}

nav img {
  width: 70px;
}

#moneda {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

nav div {
  display: flex;
  align-items: center;
}

nav .navDer button {
  margin-right: 15px;
}

.btnNavAdmin {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  margin-right: 15px;
}

.btnNavAdmin:hover {
  background-color: #3e8e41;
}

.btnNavAdmin:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.container {
  padding: 20px;
}

h2 {
  text-align: center;
  color: #003366;
}

.faq-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.faq-question .icon {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  width: 20px;
}

.faq-answer {
  display: none;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.up {
  transform: rotate(180deg);
}
#btnInicioNav {
  margin-left: 20px;
}
