@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --principal: #272a57;
  --fondo: #0d4b92a4;
}

body {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/src/main/resources/templates/media/fondologin.png");
  background-size: cover;
  background-position: center;
}
#logo {
  width: 100px;
  padding: 15px 0px 15px;
}
.contenedorLogin {
  background-color: rgba(0, 0, 0, 0.57);
  width: 45%;
  height: 50%;
  text-align: center;
  border-radius: 10px;
}

.formularioInicioSesion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensaje-error-barra {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(103, 41, 64, 0.8);
  border-radius: 2px;
}
.mensaje-error-barra img {
  width: 20px;
  height: auto;
  float: left;
  margin-right: 10px;
}
.cerrar-mensaje {
  float: right;
  cursor: pointer;
}

.cuadroTexto {
  padding: 15px;
  margin-bottom: 5px;
  width: 73%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.bn89 {
  text-decoration: none;
}

.btnIniciar {
  border-radius: 6px;
  text-decoration: none;
  height: 40px;
  font-size: 1em;
  padding: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  background-color: var(--principal);
  color: #fff;
  margin-bottom: 15px;
}

.btnIniciar:hover {
  color: #fff;
  background-color: #41468f;
  transition: 0.4s;
}

.regbtn {
  border-radius: 6px;
  text-decoration: none;
  height: 40px;
  background-color: var(--principal);
  color: #fff;
  font-size: 1em;

  border: none;
  cursor: pointer;
  padding: 10px;
}

.regbtn:hover {
  background-color: #41468f;
  transition: 0.4s;
}
